body{
    background-color: rgba(19, 191, 206, 0.16);
    font-family: Droid Sans Mono;
}

h6{
    font-size: 300%;
    margin-top: 20px;

}

input{
    font-size: 200%;
    display: block;
    margin: auto;
    margin-top:5px;
    border-radius: 5px;
    opacity: 0.7;
}

.container{
    
    margin:auto;
    text-align:center;
}

.top-bar{
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: #97afbf;
    border-radius: 3px;
    width: 341px;
    height: 49px;
}

.top-btn{
    background-color: rgba(36, 82, 122, 0.5);
    width: 68px;
    height: 39px;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 5px;
}

.top-btn:hover{
    background-color: rgba(60, 162, 244, 0.8);
    width: 68px;
    height: 39px;
    border-radius: 5px;
    font-weight: bolder;
}

.title {
    display: inline-block;
    color: #47525E;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    width: 619px;
    text-align: center;
    margin: auto;

}

.logo-pic{
    border-radius: 38px;
    width: 208px;
    height: 208px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.logo{
    display: inline-block;
}

.top{
    display: inline-block;
    margin-top: 20px;
}

.main-center{
    background-image: url("images/Planet_Search_Logo_light.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 38px;
    width: 619px;
    height: 619px;
    margin:auto;
    margin-top: 60px;
    text-align:center;
    padding-top: 40px;
}

.mc-title{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
}

.submit{
    margin-top: 50px;
}

.message{
    margin: 20px;
}

.alert{
    background-color: red;
    font-weight: bold;
}

.footer{
    display: block;

}

.footer-left{
    text-align: left;
    position: fixed;
    left: 20px;
    bottom: 10px;
}

.footer-right{
    text-align: right;
    position: fixed;
    right: 20px;
    bottom: 10px;
}

.bigger-btn{
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    background-color: rgb(36,82,122, 0.4);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.bigger-btn:hover{
    border: rgb(36,82,122) 2px solid;
    background-color: rgb(36,82,122, 0.6);
}



