<html>
  <head>
    <title>USS - admin</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>


    <p>top</p>
    <hr>

    <h3>Users</h3>

    {% for u in users %}
      <p >{{u}}</p>
    {% endfor %}

    <h3>Planets</h3>

   
    {% for p in planets %}
      <p >{{p}}</p>
    {% endfor %}

    <h3>Invitation codes</h3>

    {% for i in invitation_codes %}
    <p >{{i}}</p>
    {% endfor %}

    <hr>
    <p>bottom</p>


  </body>
</html> 