<html>
  <head>
    <title>USS - admin</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>

    <div class="logo">
        <img class="logo-pic" src="static/images/Planet_Search_Logo.png">
    </div>
    
    <div class="main-center">
        <div class="mc-title"><h6>Notification</h6></div>
        <div><h1>{{message}}</h1></div>
        <form action="{{goto}}">
            <div class="submit">
                <button class="bigger-btn" type="submit" value="OK">OK</button>
            </div>
        </form>
    </div>

    



  </body>
</html> 